*{
  margin:0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, rgba(183, 223, 226, 0.9),rgba(169, 199, 138, 0.4));
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgba(249, 83, 141, 0.7);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #0b0505;
  margin-bottom: 10px;
}

.header h1 {
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #e9e5e5;
  background-color: black;
  border: 1px solid rgb(11, 11, 10);
  border-radius: 10px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(223, 242, 16);
  cursor: pointer;
}

.list-item {
  background: rgb(234, 15, 139);
  display: flex;
  margin: 20px 0;
  border: 2px solid rgb(14, 14, 14);
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
}

.button-complete {
  color: rgb(177, 223, 14);
  margin-right: 10px;
}

.button-edit {
  color: bisque;
  margin-right: 10px;
}

.button-delete{
  color: aqua;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: rgb(23, 190, 132);
  opacity: 0.6;
}

.list {
  width: 220px;
  background-color: transparent;
  border: none;
  color: #e8dcdc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}